
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


a {
    transition: all 0.3s ease 0s;
}

a:hover {
    text-decoration: none !important;
    transition: all ease-out 0.3s;
    color: #0163d2 !important;
}
ul{
    padding: 0 !important;
}

.pd-80 {
    padding: 80px 0px !important;
}


.load {
    width: auto;
    height: 100%;
    background-color: #273c75;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.load img {
    width: 300px;
    transition: all 0.5s;
}


.contentPage {
    display: none;
}






::-webkit-scrollbar {
    background-color: #e7ebf1;
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background-color: #273c75 !important;
    border-radius: 20px;
    height: 70px;
}



.no-m {
    margin-left: 0;
    margin-right: 0;
}
.none {
    display: none !important;
}
.sec-tit {
    margin-bottom: 50px !important;
}








/* start navbar */
a:hover {
    text-decoration: none !important;
}

.navigation {
    align-items: center;
    flex-wrap: nowrap !important;
    padding: 10px 0px;
    justify-content: space-between;
}
.navItem {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.navItem li a, .icon-Bar a {
    font-size: 20px;
    font-weight: 500;
    color: #151515;
    transition: all 0.5s;
    margin: 10px 0px; 
    text-transform: capitalize;

}


.dropDownContent , .iconSearch{
    position: relative;
}


.iTemsDropdownHome, .iTemsDropdownPages, .iTemsDropdownBlog {
    position: absolute;
    background-color: #fff !important;
    min-width: 245px;
    z-index: 1;
    display: none;
    box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 0 20px;
    line-height: 45px;
    left: 0;
    
}



.iTemsDropdownHome a, .iTemsDropdownPages a , .iTemsDropdownBlog a {
    display: block;
    font-size: 15px !important;
}



.iTemsDropdownHome a:hover , .iTemsDropdownPages a:hover , .iTemsDropdownBlog a:hover {
    margin-left: 4px;
}



.navItem li a:hover {
    color: #0163D2;
}

.icon-Bar {
text-align: right;
}
.icon-Bar a:nth-child(1) {
    margin: 0px 5px;
}

.collapseBtn {
    display: none;
    text-align: right;
    align-self: flex-end;
}   
.collapseBtn .row {
    align-items: center !important;
    justify-content: space-between;
}
.collapseBtn a {
    color: #151515;
    white-space: nowrap;
}
.collapseBtn a i, .notifaction i {
    font-size: 25px;
}
.notifaction {
    position: relative;
}
.notifaction a {
    position: absolute;
    right: 5px;
    top: -5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #0163D2;
    color: #ffffff;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    -webkit-box-shadow: 0 0 4px rgb(0 0 0 / 15%);
    box-shadow: 0 0 4px rgb(0 0 0 / 15%);
}



.collapseBtn button {
    border: none;
    padding: 5px 10px;
    background: transparent;
    vertical-align: middle;
}


.collapseBtn button i {
    font-size: 25px;
}

.navWidthSmall {
    z-index: 9999;
    height: 100%;
    width: 500px;
    max-width: 100%;
    position: fixed;
    top: 0;
    right: -600px;
    padding-left: 60px !important   ;
    transition: all 0.5s ease 0s;
}

.closeNavMobile {

    position: absolute;
    left: 0px;
    top: 0;
    background-color: #151515;
    z-index: 9;
    width: 60px;
    height: 40px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    border-radius: 0 0 0 10px;
}

.closeNavMobile i {
    animation: rotateCloseNavbar infinite 5s ;
}




.innerContent {
    padding: 90px 35px 0;
    background: azure;
    height: 100%;
    background: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.innerContent a {
    color: #151515;
}
.searchAreaMobile {
    position: absolute;
    background: #eeeeee;
    padding: 10px;
    top: 0;
    right: 0;
    width: calc(100% - 60px);
}

.searchAreaMobile form {
    position: relative;
}
.searchAreaMobile input {
    width: 100%;
    font-size: 16px;
    display: block;
    padding: 11px 25px 7px;
    color: #151515;
    background-color: transparent;
    border: none;
    caret-color: royalblue;
}
.searchAreaMobile input:focus-visible {
    outline: none;
}
.searchAreaBtn {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
}

.navigation-mobile, .sitting-off-mobile {
    margin-bottom: 50px;
}

.sitting-off-mobile ul ul li a {
    padding: 0;
}

.navigation-mobile ul li a {
    font-size: 18px;
    text-transform: capitalize;
    line-height: 1.2;
    font-weight: 600;
}

.wedgeit-area-mobile {
    margin-bottom: 35px;
    margin-top: auto;
}

.contact-wedgeit {
    margin-bottom: 20px;
}

.navigation-mobile ul, .sitting-off-mobile ul, .contact-wedgeit ul {
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    line-height: 3;
}

.navigation-mobile i, .sitting-off-mobile i {
    font-size: 20px;
}
.sitting-off-mobile a {
    font-size: 14px;
    padding: 10px 0;
    font-weight: 500;
    text-transform: uppercase;
}

.item-Nav-Mobile, .item-inside-Nav-Mobile
{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    align-items: center;
}
.navigation-mobile ul li:last-child {
    line-height: 50px;
}

.submenuXLhome {
    display: none;
    list-style: none;
    padding: 15px 0;
    margin: 20px 0 0 0;
    position: absolute;
    border-radius: 5px;
    width: 200px;
    top: 100%;
    background: aqua;
    margin-left: -50px;
    line-height: 35px
}


.submenuXLhome li {
    padding: 0 25px;
}



.sub-menu , .sub-menu-shopGrid {
    display: none;
    line-height: 50px !important;
    margin-left: 15px !important;
}

.contact-wedgeit ul {
    line-height: 3;
}
.contact-wedgeit ul li i {
    font-size: 14px;
    margin-right: 5px;
}
.contact-wedgeit ul li a {
    font-weight: 400;
    line-height: 1.5;
}

.wedgeit-social-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* start mediaquery navbar */


@media only screen and (max-width: 992px) {
   

        .ItemsNav {
            display: none;
        }
        

        .collapseBtn {
            display: block !important;
        }
    }

    @media only screen and (max-width: 768px) {
        .shop-items {
            display: none;
        }
        .notifaction {
            display: block;
        }
    }

    @media only screen and (min-width: 768px) {
        .shop-items {
            display: block;
        }
        .notifaction {
            display: none;
        }
    }
     @media only screen and (min-width: 320px) and (max-width:575px) {
      
        .notifaction a {
        right: 0;  
        top: 0;    
        }
        .innerContent {
            padding: 70px 20px;
        }
    }




    /* animation small navbar */
@keyframes rotateCloseNavbar {
  
    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* animation small navbar */



/* end mediaquery navbar */

/* end navbar  */













/* start slider img */


.slider-1 {
    position: relative;
}
.slider-1 img , .slider-2 img{
    width: 100%;
    height: auto;
    -webkit-animation: show 3s;
    animation: show 3s;
    border-radius: 10px !important;
}
.slider-2 {
    position: relative;
}
/* .slider-2 img {
    width: 100%;
    height: auto;
    -webkit-animation: show 3s;
    animation: show 3s;
} */
.slider-content {
    position: absolute;
    top: 60%;
    margin-left: 3%;
    -webkit-animation: fadeup ease 2s;
    animation: fadeup ease 2s;
    animation-fill-mode: forwards;
}



/* start animation */
@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        top: 30%;
    }
}
/* end  animation */

.slider-content h2 {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
}
.title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 0;
}

.slider-content a {
    display: inline-block;
    padding: 10px 40px;
    background-color: #fff;
    text-transform: uppercase;
    border-radius: 50px;
    color: #000;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
}
.slider-content a:hover {
    background-color: #0163D2;
    color: #ffffff !important;
}



/* end slider img */




/* start pouplar  in this week */
.cent {
    justify-content: center !important;
}
.product {
    position: relative;
    overflow: hidden;
}
.product:hover .pro-content {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}
/* .product a {
    z-index: 1;
} */

.product img {
    width: 100%;
    min-height: 10px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}


/* end pouplar  in this week */



/* start img after slider */

.section {
    padding: 80px 0px !important;
}

.ban {
    margin-bottom: 30px !important;
}
.ban a {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.ban a img {
    object-fit: contain !important;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;

}
.ban a:hover::before {
    left: 180%;
    -webkit-transition: all 1.25s cubic-bezier(.19,1,.22,1);
    -o-transition: all 1.25s cubic-bezier(.19,1,.22,1);
    transition: all 1.25s cubic-bezier(.19,1,.22,1);
}

.ban a::before {
    background-color: rgba(255,255,255,.2);
    content: "";
    height: 200%;
    left: -280px;
    position: absolute;
    top: -50%;

    transform: rotate(35deg) !important;
    -webkit-transition: all 1.25s cubic-bezier(.19,1,.22,1);
    -o-transition: all 1.25s cubic-bezier(.19,1,.22,1);
    transition: all 1.25s cubic-bezier(.19,1,.22,1);
    width: 80px;
    z-index: 1;
}

.ban a:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1) !important;
}

/* start img after slider */



/* start pouplar is this week */

.img-action {
    position: relative;
    margin-bottom: 20px !important;
}
.img-action a {
display: block;
z-index: 1;
}
.img-action a img {
width: 100%;
vertical-align: middle;
border-style: none;
}

.labels {
    position: absolute;
    left: 0px;
    top: 20px;
    z-index: 7;
}
.labelse {
    position: absolute;
    left: 0px;
    top: 20px;
    z-index: 7;
}

.labelse .label {
    display: block;
    line-height: 1;
    padding: 5px 7px 3px;
    background-color: #151515;
    color: #fff;
    font-size: 14px;
    text-align: center;
    width: 40px;
}

.wishlite {
    position: absolute;
    right: 20px;
    top: 22px;
    line-height: 1;
    padding: 0;
    border: 0;
    background-color: transparent;
    text-align: center;
    z-index: 8;
}
.wishlite {
    display: block;
    font-size: 20px;
    line-height: 1;
    color: #000;
}

.labels .label {
    display: block;
    line-height: 1;
    padding: 5px 7px 3px;
    background-color: #151515;
    color: #fff;
    font-size: 14px;
    text-align: center;
    width: 40px;
}
.sale {
    margin-top: 3px;
}
.wishlist {
    position: absolute;
    right: 20px;
    top: 22px;
    line-height: 1;
    padding: 0;
    border: 0;
    background-color: transparent;
    text-align: center;
    z-index: 8;
}
.wishlist i {
    display: block;
    font-size: 20px;
    line-height: 1;
    color: #000;
}


.pro-content {
    position: absolute;
    left: 0;
    bottom: -35px;
    padding: 20px;
    background-color: rgba(255,255,255,.75);
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.title-price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.title-price h4 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 calc(100% - 80px);
    -ms-flex: 1 0 calc(100% - 80px);
    flex: 1 0 calc(100% - 80px);
    margin: 0;
    line-height: 23px;
    font-size: 14px;
    font-weight: 500;
}
.title-price h4 a {
    color: #000;
}
/* .title-price h4 a:hover {

} */


.action {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: flex;
    background-color: #fff;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    z-index: 9;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.action-Btn {
    border: 0;
    line-height: 1;
    padding: 15px;
    border-left: 1px solid #eee;
    color: #000;
     animation: show 1s;
     -webkit-animation: show 1s;
}
.action-Btn:hover {
    background-color: #0163d2;
    color: #fff;
}

.action-Btn i {
    display: block;
    font-size: 14px;
    line-height: 1;
}


/* start price */
/* .price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
} */

/* .price h4 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 calc(100% - 80px);
    -ms-flex: 1 0 calc(100% - 80px);
    flex: 1 0 calc(100% - 80px);
    line-height: 23px;
   
} */
/* .price a {
    color: #000;
    text-align: initial;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    
} */
.price {
    display: block;
    width: 80px;
    text-align: right;
    font-size: 16px;
    line-height: 23px;
    font-weight: 600;
}

.sale {
    margin-top: 3px;
}


/* end price */


/* start rating */

.rating {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 4px;
}

.inner {
    position: relative;
}
.inner span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}
.inner span i {
    font-size: 11px;
    line-height: 2;
    margin: 0px 2px;
}

/* end rating */

/* start action buy */

.action-buy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 10px;
}
.action-buy a {
    background-color: transparent;
    border: 0;
    line-height: 1;
    padding: 5px;
    color: #000;
}
.action-buy a i {
    display: block;
    font-size: 15px;
    line-height: 1;
}

/* end action buy */


/* end pouplar is this week */


/* start featured products  */
/* .product {
    margin-bottom: 15px;
} */
.pb {
    padding-bottom: 80px;
}

/* end featured products  */

/* start subscribe */

.subscribe-section {
    background-image: url("../images/subscribe-bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.sub-sec {
    float: left;
    width: 100%;
}

.sub-content {
    margin: 9%;
}

.sub-content h2 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: left;
}
.sub-content span {
    display: block;
    font-size: 75%;
} 
.sub-form {
    width: 100%;
    max-width: 525px;
    position: relative;
}
.sub-form input:focus-visible {
    outline: none !important;
}
.sub-form input {
    width: 100%;
    height: 56px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: transparent !important;
    border: 0;
    padding: 18px 30px 14px;
    padding-right: 80px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #d0d0d0;
    border-radius: 50px;
}
.sub-form button {
    position: absolute;
    right: 0;
    top: 0;
    height: 56px;
    border: 0;
    background-color: transparent;
    line-height: 1;
    padding: 13px 30px;
    transition: all 0.3s;
}
.sub-form button:hover {
    color: #0163d2;
}

.sub-form button i {
font-size: 20px;
line-height: 1;
}

/* end subscribe */


/* start service */
.plr-25 {
    padding: 0px 25px;
}
.ma-b-30 {
    margin-bottom: 30px;
}

.service {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 
     -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 22px;
    position: relative;
}
.last-service {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 
     -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 22px;
    position: relative;
}
.service:hover:nth-child(1) .icon-ser-1 {
    background-position: 0 -43px;
}
.service:hover:nth-child(1) .icon-ser-2 {
    background-position: -53px -43px;
}
.service:hover:nth-child(1) .icon-ser-3 {
    background-position: -104px -43px;
}
.last-service:hover:nth-child(1) .icon-last {
    background-position: -156px -43px;
}

.icon-ser-1 {
    width: 52px;
    height: 43px;
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    background-image: url('../images/service-sprites.jpg');
}
.icon-ser-2 {
    width: 52px;
    height: 43px;
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    background-image: url('../images/service-sprites.jpg');
    background-position: -52px 0px;
}
.icon-ser-3 {
    width: 52px;
    height: 43px;
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    background-image: url('../images/service-sprites.jpg');
    background-position: -104px 0px;
}
.icon-last {
    width: 52px;
    height: 43px;
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    background-image: url('../images/service-sprites.jpg');
    background-position: -156px -0px;
}
.content-ser {
    width: calc(100% - 52px);
    max-width: 270px;
    padding-left: 25px;
}
.content-ser h3 {
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 20px;
}
.content-ser p {
    line-height: 1.2;
    font-size: 14px;
} 
p:last-child {
    margin-bottom: 0;
}
.service::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #ebebeb;
}


/* end service */


/* start footer */


.footer-sec {
        background-color: #151515;
        padding: 0% 9%;
}


.footer-wed {
    color: #ccc !important;
    font-size: 16px !important;
}
.footer-wed h4 {
    color: #fff;
    line-height: 1.2;
    margin-bottom: 20px;
}
.footer-txt p {
    margin-bottom: 10px !important;
    max-width: 217px !important;
}

.mt20 {
    margin-top: 20px !important;
}
.mb15 {
    margin-bottom: 15px !important;
}

.icon-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; 
    justify-content: space-between;
    margin-top: -5px;
    margin-right: -5px;
}
.icon-footer a {
    display: block;
    height: 40px;
    width: 40px;
    border: 2px solid #ccc;
    color: #ccc;
    border-radius: 100%;
    text-align: center;
    margin-top: 5px;
    margin-right: 5px;
}
.icon-footer a:hover {
    background-color: #0163d2;
    border-color: #0163d2;
    color: #fff !important;
}
.icon-footer a i {
    line-height: 36px;
}
.mb40 {
    margin-bottom: 40px !important;
} 

.footer-wed ul  {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-wed ul li  {
    line-height: 30px;
}
.footer-wed ul li a {
    color: #ccc !important;
    font-size: 16px !important;
}
.footer-wed ul li a:hover {
    color: #0163d2 !important;
}



/* start footer bottom */


.footer-bottom {
padding: 20px 0px;
border-top: 1px solid #999;
}
.footer-bottom p {
    color: #ccc;
    text-align: center;
}

/* end footer bottom */

/* end footer */

.block {
    display: block !important;
}


/* start media qurey */
@media only screen and (min-width: 900px) and (max-width: 1140px) {
    .slider-content h2 {
      font-size: 45px !important;
    }
  }
@media only screen and (min-width: 800px) and (max-width: 1140px) {
    .slider-content h2 {
      font-size: 40px !important;
    }
  }
 
  @media only screen and (min-width: 710px) and (max-width: 800px) {
    .slider-content h2 {
      font-size: 35px !important;
    }
    .subscribe-section {
        background-position: bottom;
    }
    .sub-content h2 {
        font-size: 27px;
    }
   
  }
  @media only screen and (min-width: 620px) and (max-width: 710px) {
    .slider-content h2 {
      font-size: 31px !important;
      margin-bottom: 7px;
    }
    .subscribe-section {
        background-position: bottom;
    }
    .slider-content a {
        font-size: 12px;
    padding: 7px 38px;
    line-height: inherit;
    }
    .sub-content h2 {
        font-size: 22px;
    }
    @keyframes fadeup {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            top: 35%;
        }
    }
  }
  @media only screen and (min-width: 555px) and (max-width: 620px) {
    .slider-content h2 {
      font-size: 25px !important;
      margin-bottom: 5px;
    }
    .slider-content a {
        font-size: 12px;
    padding: 3px 22px;
    line-height: inherit;
    }
    .subscribe-section {
        background-position: bottom;
    }
  }
  @media only screen and (min-width: 455px) and (max-width: 555px) {
    .slider-content h2 {
      font-size: 22px !important;
      margin-bottom: 6px;
    }
    .slider-content a {
        padding: 4px 30px;
        font-size: 13px;
        line-height: inherit;
    }
   
    .sub-content h2 {
        font-size: 18px;
    }
    .subscribe-section {
        background-position: top;
    }
    @keyframes fadeup {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            top: 27%;
        }
    }
  }
  @media only screen and (min-width: 365px) and (max-width: 455px) {
    .slider-content h2 {
      font-size: 16px !important;
      margin-bottom: auto;
    }
    .slider-content a {
        padding: 1px 25px;
        font-size: 10px;
        line-height: 2;
    }
    .sub-content h2 {
        font-size: 30px;
    }
    .subscribe-section {
        background-position: bottom;
    }
    @keyframes fadeup {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            top: 29%;
        }
    }
  }

  @media only screen and (min-width:300px ) and (max-width: 365px) {
    .slider-content h2 {
      font-size: 12px !important;
      margin-bottom: 3px;
    }
    .slider-content a {
        padding: 1px 15px;
        font-size: 9px;
        line-height: 2;
    }
    .sub-content h2 {
        font-size: 10px;
    }
    .sub-form input {
        height: 40px;
        padding: 18px 7px 14px;;
    }

    .subscribe-section {
        background-position: 62% 6%;
    }
    
    @keyframes fadeup {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            top: 25%;
        }
    }
  }
  @media only screen and (min-width:200px ) and (max-width: 300px) {
    .slider-content h2 {
      font-size: 8px !important;
      margin-bottom: -2px;
    }
    .slider-content a {
        padding: 3px 4px;
        line-height: 1;
        font-size: 8px;
    }
    .sub-content h2 {
        font-size: 20px !important;
    }
    .content-ser {
        width: calc(100% - 50px);
    }
    @keyframes fadeup {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            top: 28%;
        }
    }
  }
@media only screen and (max-width: 992px) {

    .section {
        padding: 20px 0px !important;
    }
    .pb {
        padding-bottom: 20px;
    }
}



@media only screen and (min-width: 500px) and (max-width: 768px) {
.img-width  img {
    width: 70% !important; 
} .labels {
    left: 75px;
} .wishlist {
    right: 85px;
} .heart {
    right: 20px;
} .trade {
    left: 1px;
}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .img-width  img {
        width: 55% !important; 
} .labels {
    left: 155px;
} .wishlist {
    right: 165px;
} .wishlite {
    right: 25px;
}
}


.fot-img {
    width: 100%;
}

.pd-footer {
    padding: 40px 0px 0px 0px !important;
}

@media only screen and (min-width: 435px) and (max-width: 992px) {
    .fot-img {
        width: 50% !important ;
    }
}
@media only screen and (min-width: 280px) and (max-width: 435px) {
    .fot-img {
        width: 70% !important ;
    }
}



/* end media query */




